In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./BostonHousing.csv')
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
df.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [4]:
df.columns = [
  'Crime rate in the area',
  'Amount of land zoned for big houses',
  'Amount of land used for businesses',
  'Next to the Charles River',
  'Air pollution level (nitric oxide)',
  'Average number of rooms per house',
  'precentage of old houses (built before 1940)',
  'Distance to job centers',
  'Access to highways',
  'Property tax rate',
  'Student-teacher ratio in schools',
  'Race-related value (higher = more White residents)',
  'precentage of people with low income',
  'Median house price (in $1000s)'
]

In [5]:
import pandas as pd

# Create the dataset
data = {
    'Hours_Studied': [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0],
    'Exam_Score':    [52, 55, 61, 66, 71, 76, 79, 87, 90, 95]
}

# Convert to a DataFrame
df = pd.DataFrame(data)

# Display the dataset
print(df)

   Hours_Studied  Exam_Score
0            1.0          52
1            2.0          55
2            3.0          61
3            4.0          66
4            5.0          71
5            6.0          76
6            7.0          79
7            8.0          87
8            9.0          90
9           10.0          95

In [15]:
import numpy as np
import pandas as pd

# Your dataset
data = {
    'Hours_Studied': [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0],
    'Exam_Score':    [52, 55, 61, 66, 71, 76, 79, 87, 90, 95]
}

df = pd.DataFrame(data)

Hours_Studied = df[['Hours_Studied']]
Exam_Score = df[['Exam_Score']]

def linear_regression(x, y, alpha=0.01, num_iter=1000):
    x = x.to_numpy().flatten()
    y = y.to_numpy().flatten()
    m = len(x)
    
    theta_0 = 0 
    theta_1 = 0  

    for i in range(num_iter):
        y_hat = theta_0 + theta_1 * x
        error = y_hat - y
        
        # Gradient Descent update
        theta_0 -= (alpha / m) * np.sum(error)
        theta_1 -= (alpha / m) * np.sum(error * x)

    return theta_0, theta_1

theta0, theta1 = linear_regression(Hours_Studied, Exam_Score)

print("Theta 0 (Intercept):", theta0)
print("Theta 1 (Slope):", theta1)

Theta 0 (Intercept): 40.869218897436994
Theta 1 (Slope): 5.669716892322241

In [12]:
Hours_Studied = df[['Hours_Studied']].to_numpy()
x= sum(Hours_Studied)
print(x)

[55.]